.navbar-brand{
    font-weight: 600;
    color: black;
    font-size: 22px;
    font-family: 'Jomolhari', serif;
}
.nav-item:hover{
    text-decoration: underline;
}
.nav-item{
    font-size: 16px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
}
.biodata{
    font-size: 14px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.card-body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
/* saya menggunakan effect box shadow pada bagian collections */ 
.content:hover{
    box-shadow: 8px 10px 10px 0 rgb(194, 161, 248); 
} 
.content {
    background-color: rgb(238, 238, 238);
    padding: 10px;
    box-shadow: 5px 6px 6px 0 rgb(114, 114, 114);
    border-radius: 3px;
    transition: 0.5s;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.arttitle{
    font-weight: 600;
    font-family: 'Jomolhari', serif;
    font-size: 25px;
}
/*saya membuat kolom di dalam bagian craetions untuk fortofolio saya*/
.columncontent{
    float: left; 
    width: 50%; 
    padding: 10px;
}
.footer{
    background-color: black;
    height: 100%;
    position: relative;
    top: 100px;
    padding-top: 80px;
 }
 .signup{
     max-width: 400px;
     margin-left:auto ;
     margin-right: auto;
     padding-bottom: 40px;
     border-bottom: white solid 1px;
 }
 .signupbtn{
     background-color: black;
     color: white;
     border-color: white;
 }
 .headifootereinfo{
     font-size: 14px;
     font-weight: 800;
     padding-bottom: 10px;
     text-align: center;
     color: white;
 }
 .footerinfo{
     margin-top:40px ;
     margin-left:auto ;
     margin-right: auto;
     padding-bottom: 40px;
     text-align: center;
     color: white;
 }
