.navbar-brand{
    font-weight: 800;
    color: black;
    font-size: 35px;
    font-family: 'Jomolhari', serif;
}

.nav-item{
    font-size: 14px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    position: relative;
    padding-top: 20px;
}
.sidepiceffect:hover{
    box-shadow: 8px 10px 10px 0 rgb(0, 0, 0); 
}
.sidepiceffect{
    transition: 0.5s;
}
.sosmedicon:hover{
    transform: scale(1.3);
    color: black;
}
.sosmedicon{
    color: black;
    padding: 5px;
    font-size: 20px;
}
.search{
    position: relative;
    border: black 1px;
    border-top-style: solid;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: solid;
}
.searchicon:hover{
    color: rgb(99, 99, 99);
}
.searchicon{
    color: black;
    padding: 5px;
    font-size: 20px;
    background-color: white;
    border: black 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: none;
}
.musicimg:hover{
    transform: scale(0.8);
}
.musicimg{
    transition: 0.4s;
}
.facebook:hover{
    background-color: rgb(48, 96, 253);
}
.twitter:hover{
    background-color: rgb(0, 174, 218);
}
.mail:hover{
    background-color: rgb(46, 194, 58);
}
.pinterest:hover{
    background-color: rgb(197, 7, 7);
}
.fetured:hover{
    background-color: black;
    color: white
}
.motiondesign:hover{
    background-color: black;
    color: white
}
.bottompic:hover{
    text-decoration: underline;
}